<!DOCTYPE html>
<html lang="fr">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <!--<link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}"> si besoin :)-->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
        integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <title>Server</title>
</head>
<body>
    <div class="container">
        <div class="row">
            <h1>Iot_ServerBox</h1>
        </div>
        <div class="=row">
            <h2>Liste des 5 derniers événements</h2>
        </div>
        <table class="table table-striped">
            <thead>
            <tr>
                <th>Id</th>
                <th >Identifiant</th>
                <th>Evénement</th>
                <th>Date de création</th>
                <th>Action</th>
            </tr>
            </thead>
            <tbody>
            {%for item in events%}
                <tr>
                    <td>{{item.id}}</td>
                    <td>{{item.idEmetteur}}</td>
                    <td>{{item.typeEvenement}}</td>
                    <td>{{item.created_at.strftime('%d %b %Y %H:%M:%S')}}</td>
                    <td><a class="btn btn-danger" href="event/delete/{{ item.id }}">Supprimer</a></td>
                </tr>
            {% endfor %}
            </tbody>
        </table>
        <div class="row">
            <a class="btn btn-success" href="/event">Voir tous les événements</a>
        </div>
        
    </div>
</body>
</html>
